* {
  /* border: 1px solid red; */
}

.page {
  margin: 0;
  padding: 0 19px;
  background-color: #000000;
  color: white;
  font-family: "Inter";
}

.header {
  max-width: 880px;
  min-height: 75px;
  margin: 45px auto 0;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 685px) {
  .header {
    margin-top: 28px;
  }
}

.header__logo {
  background-image: url("./image/logo-min.svg");
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 142px;
  min-height: 33px;
}

@media screen and (max-width: 685px) {
  .header__logo {
    min-width: 104px;
    min-height: 25px;
  }
}

.profile {
  margin: 40px auto 0;
  max-width: 880px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 685px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}

.profile__image {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}

.profile__info {
  margin-left: 30px;
  margin-right: auto;
}

@media screen and (max-width: 685px) {
  .profile__info {
    margin: 0;
    text-align: center;
  }
}

.profile__title-container {
  display: flex;
}

.profile__title {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin-top: 22px;
  margin-bottom: 0;
}

@media screen and (max-width: 500px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
  }
}

.profile__edit-button {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  min-width: 24px;
  min-height: 24px;
  text-align: center;
  background-image: url(./image/Vector-editButton.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 22px 0 0 18px;
  align-self: center;
}

@media screen and (max-width: 500px) {
  .profile__edit-button {
    min-width: 18px;
    min-height: 18px;
  }
}

.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 0;
}

@media screen and (max-width: 500px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
}

.profile__add-button {
  background: rgba(0, 0, 0, 0);
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #ffffff;
  padding: 0;
  align-self: center;
  background-image: url(./image/Vector-addButton.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 685px) {
  .profile__add-button {
    margin-top: 36px;
    width: 100%;
  }
}

.elements {
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(auto-fill, 282px);
  justify-content: center;
  max-width: 880px;
  margin: 48px auto 0;
  color: #000000;
}

@media screen and (max-width: 685px) {
  .elements {
    margin-top: 36px;
  }
}

.element {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  height: 361px;
}

.element__image {
  width: 282px;
  height: 282px;
  object-fit: contain;
  object-position: center;
}

.element__info {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.element__paragraph {
  margin: 0 0 0 21px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.element__button {
  border: none;
  background-image: url(./image/Vector-like.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  align-self: center;
  margin-right: 30px;
}

.footer {
  max-width: 880px;
  margin: 68px auto 60px;
}

@media screen and (max-width: 685px) {
  .footer {
    margin: 48px auto 36px;
  }
}

.footer__paragraph {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 685px) {
  .footer__paragraph {
    font-size: 14px;
    line-height: 17px;
  }
}
