.popup__input_content_error {
  padding-top: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  max-width: 327px;
  min-height: 17px;
  max-height: 30px;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
}
